
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    background: #333;
    color: #fff;
    padding: 10px 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo {
    font-size: 1.5em;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger .line {
    width: 25px;
    height: 3px;
    background: white;
    margin: 4px 0;
}

.hero {
    background: url(https://img.freepik.com/premium-photo/assemblage-contemporary-gadgets-electronic-devices-showcased-3d-illustration-against_1045886-2213.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    text-align: center;
    color: rgb(255, 255, 255);
    padding: 100px 20px;
}
.hero h1{
    margin-bottom: 20px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.5); /* semi-transparent background */
    border-radius: 5px;
    display: inline-block;
}

.cta {
    display: inline-block;
    padding: 10px 20px;
    background: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.features {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 50px 50px;
}

.feature {
    background: #fff;
    padding: 20px;
    margin: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    flex: 1;
    min-width: 200px;
}
.feature-image{
    display: block;
    margin: 0 auto 20px;
    max-width: 50%;
    height: auto;
}

footer {
    text-align: center;
    background: #333;
    color: #fff;
    padding: 20px;
}

/* Responsive styles */
@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        text-align: center;
        background: #333;
    }

    .nav-links li {
        margin: 10px 0;
    }

    .hamburger {
        display: flex;
    }
}